body {
	font-family: monospace;
}

/* The container for rotors and the reflector */
.scrambler {
	display: flex;
	flex-direction: row;
}

.rotor {
	padding: 1em;
	background-color: #eee;
	margin-right: 1em;
}
.rotor:last-child {
	margin-right: 0;
}
