body {
	font-family: monospace;
	user-select: none;
}

.machine {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.rotor {
	padding: 1em;
	background-color: #eee;
	margin-right: 1em;
}
.rotor:last-child {
	margin-right: 0;
}

.rotor pre {
	margin: 0;
}

.keyboards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5em;
}
.keyboard > * {
	text-align: center;
	white-space: nowrap;
}
.keyboard > * > * {
	margin: 0.5em;
	display: inline-block;
	background-color: #eee;
}
.keyboard > * > .enabled.is-key {
	background-color: blue;
	color: #fff;
}
.keyboard > * > .enabled.is-lamp {
	background-color: red;
	color: #fff;
}
.keyboard > * > .has-click:hover {
	background-color: blueviolet;
	cursor: pointer;
}

.not-used-before {
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.not-used-before > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #eee;
	padding: 1em;
	text-align: center;
}
